p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

* {
  @extend%trans4;
}

html {
  body {
    background-color: var(--body_color);
  }
  &[dir="rtl"] {
    body {
      font-family: var(--ar_word);
    }
  }
  &[dir="ltr"] {
    body {
      font-family: var(--en_word);
    }
  }
}

.en_word {
  font-family: var(--en_word);
}



@media(max-width: 992px){
  .order-md{
    order: -1;
  }
}