
.color_box {
  padding: 20px;
  position: fixed;
  top: 150px;
  background-color: var(--white_color);
  z-index: 888;
  border-radius: 0 0 0 10px;
  box-shadow: 0px 2px 3px rgba(#000000, 0.1);
  right: -290px;
  &--opne {
    right: 0 !important;
  }
  .opne_icon {
    box-shadow: -2px 2px 2px rgba(#000000, 0.1);
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 0;
    left: -36px;
    background-color: var(--white_color);
    border-radius: 10px 0 0 10px;
    i {
      animation: sittingscroll 5s forwards infinite ease-in-out;
    }
  }
  .color-list {
    display: flex;
    li {
      margin: 0 10px 0;
      span {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
        &.min_theme {
          background: var(--back_gradied_min);
        }
        &.orange_theme {
          background: var(--back_gradied_orang);
        }
        &.gray_theme {
          background: var(--back_gradied_gary);
        }
        &.pink_theme {
          background: var(--back_gradied_pink);
        }
        &.dark_theme {
          background: var(--back_gradied_dark);
        }
      }
    }
  }
  .font_list {
    display: block;
    padding: 20px 10px;
    border-top: 1px solid rgba(51, 51, 51, 0.116);
    margin: 20px 0 0 ;
    .list_title_font {
      margin: 0 0  10px;
      display: block;
      font-size: 20px;
      color:var(--middel_color) ;
    }
    li {
      font-size: 16px;
      font-weight: 550;
      color: var(--min_color);
      padding-block: 6px;
      cursor: pointer;
      position: relative;
      padding-inline-start:20px ;
      &:hover{
        color: var(--middel_color);
      }
      &::after {
        position: absolute;
        content: "";
        height: 6px;
        width: 6px;
        background-color: var(--min_color);
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
      &.cairo{
        font-family: var(--Tajawal_font);
      }
      &.tajawal{
        font-family: var(--Noto_font);
      }
      &.noto{
        font-family: var(--Markazi_font);
      }
      &.markazi{
        font-family: var(--Changa_font);
      }
      &.changa{
        font-family: var(--Cairo_font);
      }
    }
  }
}

@keyframes sittingscroll {
  form {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
