:root {
  --white_color: #fff;
  --gray_color: #ddd;
  --black_color: #000;
  --min-color:#80207c;
  --minDark-color:#4b2144;
  --sub-color:#af3355;
  --dark-color:#1e1230;
  --yellow-color:#f4b93f;
}
