:root {
  --white_color: #fff;
  --black_color: #000;
  --black_color_o: rgba(0, 0, 0, 0.486);
  --min_color: #003b73;
  --sub_color: #60a3d9;
  --middel_color: #0074b7;
  --light_color: #bfd7ed;
  --gray_color: #f8f6f6;
  --body_color: #fff;
  --sun_color: #d14009;

  // backGround
  --back_gradied: radial-gradient(
    circle,
    rgba(40, 94, 143, 1) 0%,
    rgba(0, 59, 115, 1) 100%
  );

  --en_word: "Josefin Sans", sans-serif;
  // --ar_word: "Cairo", sans-serif;

  // fonsts

  --Tajawal_font: "Tajawal", sans-serif;
  --Noto_font: "Noto Sans Arabic", sans-serif;
  --Markazi_font: "Markazi Text", serif;
  --Changa_font: "Changa", sans-serif;
  --Cairo_font: "Cairo", sans-serif;

  // themes
  --back_gradied_min: linear-gradient(
    180deg,
    rgba(40, 94, 143, 1) 0%,
    rgba(0, 59, 115, 1) 100%
  );
  --back_gradied_orang: linear-gradient(180deg, #f67b50 0%, #a82810 100%);
  --back_gradied_gary: linear-gradient(180deg, #b9b7bd 0%, #868b8e 100%);
  --back_gradied_pink: linear-gradient(180deg, #fb6b90 0%, #fb4570 100%);
  --back_gradied_dark: linear-gradient(180deg, #747474 0%, #444444 100%);
}

html {
  &[data-theme="orange"] {
    --min_color: #a82810;
    --sub_color: #c0956c;
    --middel_color: #f67b50;
    --light_color: #fbaa60;
    --gray_color: #ddd;
    --sun_color: #fc9601;
    // backGround
    --back_gradied: radial-gradient(circle, #f67b50 0%, #a82810 100%);
  }
  &[data-theme="gray"] {
    --min_color: #868b8e;
    --sub_color: #b9b7bd;
    --middel_color: #747474;
    --light_color: #cacac9;
    --gray_color: #eee;
    --sun_color: #ecd37a;
    // backGround
    --back_gradied: radial-gradient(circle, #b9b7bd 0%, #868b8e 100%);
  }
  &[data-theme="pink"] {
    --min_color: #fb4570;
    --sub_color: #fb8da0;
    --middel_color: #fb6b90;
    --light_color: #ffc6d4;
    --gray_color: #eee;
    --sun_color: #ffcc33;
    // backGround
    --back_gradied: radial-gradient(circle, #fb6b90 0%, #fb4570 100%);
  }
  &[data-theme="dark"] {
    --min_color: #0a0708;
    --sub_color: #747474;
    --middel_color: #444444;
    --light_color: #8d8d8d;
    --gray_color: rgba(51, 51, 51, 0.192);
    --sun_color: #ffffff;
    // backGround
    --back_gradied: radial-gradient(circle, #747474 0%, #444444 100%);
    --body_color: #b1b1b1;
  }

  &[data-font="tajawal"] {
    font-family: var(--Tajawal_font);
  }
  &[data-font="noto"] {
    font-family: var(--Noto_font);
  }
  &[data-font="markazi"] {
    font-family: var(--Markazi_font);
  }
  &[data-font="changa"] {
    font-family: var(--Changa_font);
  }
  &[data-font="cairo"] {
    font-family: var(--Cairo_font);
  }
}
